{% extends 'base.html' %}

{% block title %}Add an Offer{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-white fw-bold">
                    <h3 class="card-title text-center">ADD AN OFFER</h3>
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <hr><br><br>
                        <div class="text-center">
                            <button class="btn btn-warning btn-block mt-3 fw-bold text-black fs-4" type="submit" name="add" value="add">Add an offer</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="header text-center">
                        <h2>Not authenticated</h2>
                        <a class="btn btn-warning btn-lg mt-3" href="/login/" role="button">Log In</a>
                        <a class="btn btn-outline-warning btn-lg mt-3" href="/register/" role="button">Register</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
